@use '../settings/colors' as sc;
@use '../tools/mixins' as tm;

[class$='__btns'] {
  @include tm.flex-row-gap;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 30px 0;
}

[class*='__button'] {
  display: block;
  color: sc.$lightest-color;
  border: 1px solid sc.$lightest-color;
  border-radius: 5px;
  padding: 10px 30px;
}