@use '../settings/colors' as sc;
@use '../settings/typography' as st;

[class*='__title'] {
  color: sc.$brand-color;
  font-size: st.$default-font-size;
  margin: 30px 0;
}

[class*='__text'] {
  color: sc.$primary-text-color;
  margin: 20px 0;
}

[class*='__quote'] {
  color: sc.$primary-text-color;
  margin: 20px auto;
}

[class*='__address'] {
  color: sc.$brand-color;
}