@use '../settings/colors' as sc;
@use '../tools/util' as tu;

[class*='__link'] {
  color: sc.$accent-color;

  &:hover {
    color: tu.hoverColor(sc.$accent-color);
  }
}

[class*='__mailto'] {
  color: sc.$brand-color;
  text-decoration: underline;

  &:hover {
    color: tu.hoverColor(sc.$brand-color);
  }
}