@use '../settings/colors' as sc;
@use '../tools/mixins' as tm;
@use '../tools/util' as tu;

.footer {
  border-top: 10px solid sc.$brand-color;

  &__container-info-copyright {
    @include tm.page-padding(40px, 5px);

    .footer__container-info, .footer__container-copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 40px;
      margin: 10px 0;

      .footer-contact {
        &__logo {
          width: 90%;
          height: auto;
        }

        &__address-line {
          display: block;
        }
      }

      .footer-nav {
        &__link {
          color: sc.$primary-text-color;

          &:hover {
            color: tu.hoverColor(sc.$primary-text-color);
          }
        }
      }

      .footer-subscribe {
        .footer-subscribe__form {
          background-color: sc.$brand-medium-color;
          padding-right: 10px;
          display: flex;
          flex-direction: row;

          .footer-subscribe__fieldset {
            .footer-subscribe__input {
              color: sc.$brand-color;
              background-color: sc.$brand-medium-color;
              border: 0;
              padding: 10px;

              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: sc.$brand-color;
                opacity: 1; /* Firefox */
              }

              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: sc.$brand-color;
              }

              &::-ms-input-placeholder { /* Microsoft Edge */
                color: sc.$brand-color;
              }
            }
          }

          .footer-subscribe__submit {
            color: sc.$brand-color;
            background: url("../images/icons/send.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: sc.$brand-medium-color;
            text-indent: -1000em;
            cursor: pointer;
            border-radius: 0;
            border: 0;
            padding: 10px;

            &:hover {
              background: url("../images/icons/send-light.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }

    .footer__container-copyright {
      border-top: 1px solid sc.$brand-medium-color;

      .footer-social-media__links {
        @include tm.flex-row-gap;
      }
    }
  }

  &__container-map {
    .footer-map {
      .footer-map__google {
        width: 100%;
        height: 400px;
        border: 0;
      }
    }
  }
}