@use '../settings/colors' as sc;
@use '../tools/mixins' as tm;

.header {
  .topbar {
    background-color: sc.$brand-light-color;
    @include tm.page-padding;
    @include tm.flex-row-spread(true);

    &-social-media__links {
      @include tm.flex-row-gap;
    }

    &__logo {
      width: 35%;
      height: auto;
    }

    &__toggle-menu-checkbox {
      display: none;
    }

    &__toggle-menu-label {
      color: sc.$brand-color;
      @include tm.flex-row-gap;
      font-weight: bold;
      cursor: pointer;
    }

    /* toggle the menu */

    &-nav {
      display: none;
      width: 100%;

      &__links {
        @include tm.flex-row-spread;
        width: 100%;

        .topbar-nav__link {
          color: sc.$brand-color;
          text-transform: uppercase;
          padding-bottom: 12px;
          text-align: center;

          &:hover {
            color: sc.$accent-color;
            padding-bottom: 11px;
            border-bottom: 1px solid;
          }
        }
      }
    }

    &__toggle-menu-checkbox:checked ~ .topbar-nav {
      display: revert;
    }

    /* toggle the menu icons */
    &__toggle-menu-checkbox:checked ~ .topbar__toggle-menu-label > .topbar__toggle-menu-icon {
      display: none;
    }

    &__toggle-menu-close-icon {
      display: none;
    }

    &__toggle-menu-checkbox:checked ~ .topbar__toggle-menu-label > .topbar__toggle-menu-close-icon {
      display: revert;
    }
  }

  .info {
    @include tm.page-padding;
    @include tm.flex-row-spread(true);
  }
}