@use '../settings/colors' as sc;
@use '../settings/sizing' as ss;
@use '../tools/mixins' as tm;

.main {
  .banner {
    @include tm.bg-image-with-gradient(right, rgb(255, 255, 255), "../images/components/carousel/carousel01.jpg", true);

    .hero {
      @include tm.page-padding(90px, 90px);

      > &__title,
      > &__text,
      > &__btns {
        width: 40%;
        min-width: 400px;
      }
    }

    .reservation {
      background-color: sc.$brand-color-translucent;
      @include tm.page-padding;
      display: grid;

      &-online {
        grid-area: 1 / 1;
        display: grid;
        grid-template-areas: "online-title ." "online-text ." "online-form online-form";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr;

        &__title {
          grid-area: online-title;
          margin: 5px 0;
        }

        &__text {
          grid-area: online-text;
          margin: 5px 0;
        }

        &__form {
          grid-area: online-form;
          margin: 5px 0;
          @include tm.flex-row-spread;

          .reservation-online__fieldset {
            @include tm.flex-row-spread;
            flex-grow: 5;

            .reservation-online__label, .reservation-online__input {
              color: sc.$primary-text-color;
              background-color: sc.$lightest-color;
              border: 0;
              padding: 0 10px;
              height: ss.$form-height;
            }

            .reservation-online__label {
              margin: 0 0 0 -10px;
              width: 50%;
              display: flex;
              align-items: center;
            }

            .reservation-online__input {
              margin: 0;
              width: 100%;

              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: sc.$primary-text-color;
                opacity: 1; /* Firefox */
              }

              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: sc.$primary-text-color;
              }

              &::-ms-input-placeholder { /* Microsoft Edge */
                color: sc.$primary-text-color;
              }
            }

            input[type="number"] {
              width: 50%;
            }
          }

          .reservation-online__button {
            flex-grow: 1;
            cursor: pointer;
            margin: 0;
            height: ss.$form-height;
          }
        }
      }

      &-phone {
        grid-area: 1 / 1;
        display: grid;
        grid-template-areas: ". phone-title" ". phone-address" ". .";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr;

        &__title {
          grid-area: phone-title;
          margin: 5px 0;
        }

        &__address {
          grid-area: phone-address;
          margin: 5px 0;
        }
      }
    }
  }

  .about {
    @include tm.page-padding(40px, 80px);

    &__title {
      @include tm.title-center-underline(sc.$brand-medium-color)
    }

    &-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 50px;

      &__container {
        position: relative;
        width: 50%;

        .about-content__title {
          background: sc.$accent-color-translucent;
          color: sc.$lightest-color;
          position: absolute;
          z-index: 1;
          bottom: -55px;
          left: -16px;
          padding: 20px;
        }

        .about-content__img {
          width: 100%;
          height: auto;
          box-shadow: 10px 10px 50px 10px sc.$brand-medium-color;
        }
      }

      &__text {
        width: 50%;
      }
    }

    &-content--reverse {
      flex-direction: row-reverse;
      margin-top: 90px;

      .about-content__txt-over-img-container {
        .about-content__title,
        {
          background: sc.$neutral-color-translucent;
          left: revert;
          right: -16px;
        }
      }
    }
  }

  .reviews {
    @include tm.page-padding(40px, 90px);
    text-align: center;
    display: flex;
    flex-direction: column;

    &__title {
      @include tm.title-center-underline(sc.$brand-medium-color)
    }

    &__quote {
      width: 50%;
      min-width: 230px;
    }

    &__button {
      align-self: center;
    }
  }

  .menu-card {
    @include tm.bg-image-with-gradient(top, rgb(0, 0, 0, 0.80), "../images/components/menu-card/menu-card-bg.jpg");
    @include tm.page-padding(220px, 15px);
    @include tm.flex-row-spread(true);
  }
}