@media screen and (max-width: 1024px) {
  .main {
    .banner {
      .reservation {
        display: flex;
        flex-direction: column;

        &-online {
          display: flex;
          flex-direction: column;

          &__form {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: stretch;

            .reservation-online__fieldset {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              row-gap: 10px;

              .reservation-online__label {
                margin: 0;
                width: 40%;
              }

              input[type="number"] {
                width: 40%;
              }
            }
          }
        }

        &-phone {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .footer {
    &__container-info-copyright {
      .footer__container-info, .footer__container-copyright {
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        min-width: 280px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .topbar {
      .topbar-social-media {
        order: 2;
      }

      .topbar__logo {
        order: 1;
        width: 100%;
      }

      .topbar__toggle-menu-label {
        order: 3;
      }

      .topbar-nav {
        order: 4;
      }
    }
  }

  .main {
    .about {
      padding-bottom: 10px;

      &-content {
        flex-direction: column;
        align-items: center;

        &__container {
          width: 100%;
        }

        &__text {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    .topbar {
      flex-direction: column;
      align-items: flex-end;

      &-nav {
        &__links {
          flex-direction: column;
          align-items: flex-end;
          row-gap: 20px;
        }
      }
    }
  }

  .main {
    .banner {
      .hero {
        > &__title,
        > &__text,
        > &__btns {
          width: 100%;
          min-width: 200px;
        }
      }
    }

    .about {
      &-content {
        &__container {
          .about-content__title {
            bottom: -45px;
            padding: 10px;
          }
        }
      }
    }
  }
}