/* translucent colors */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* reset default styling */
a {
  text-decoration: none; /* remove underline */
}

address {
  font-style: normal; /* remove italic */
}

ul {
  list-style: none; /* remove bullets */
  padding-left: 0; /* remove indentation from list */
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Abhaya Libre", "Garamond", serif;
  font-size: 1.2em;
}

[class*=__title] {
  color: #1a2762;
  font-size: 1.2em;
  margin: 30px 0;
}

[class*=__text] {
  color: #888888;
  margin: 20px 0;
}

[class*=__quote] {
  color: #888888;
  margin: 20px auto;
}

[class*=__address] {
  color: #1a2762;
}

[class*=__link] {
  color: #bca269;
}
[class*=__link]:hover {
  color: #61502b;
}

[class*=__mailto] {
  color: #1a2762;
  text-decoration: underline;
}
[class*=__mailto]:hover {
  color: #475fce;
}

[class$=__btns] {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 30px 0;
}

[class*=__button] {
  display: block;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px 30px;
}

/* colors */
[class*="--color-light"] {
  color: #ffffff;
}

[class*="--color-medium"] {
  color: #dedee4;
}

[class*="--color-dark"] {
  color: #1a2762;
}

[class*="--color-neutral"] {
  color: #81b761;
}

[class*="--color-accent"] {
  color: #bca269;
}

/* titles font sizes */
[class*="--title-big"] {
  font-size: 3em;
}

[class*="--title-medium"] {
  font-size: 2.16em;
}

[class*="--title-small"] {
  font-size: 1.44em;
}

/* text decoration */
[class*="--underline"] {
  text-decoration: underline;
}

/* buttons */
[class*="--btn-transparent-light"] {
  border: 1px solid #ffffff;
}
[class*="--btn-transparent-light"]:hover {
  color: #888888;
  background-color: #ffffff;
}

[class*="--btn-transparent-dark"] {
  color: #888888;
  border: 1px solid #888888;
}
[class*="--btn-transparent-dark"]:hover {
  color: #ffffff;
  background-color: #888888;
}

[class*="--btn-neutral"] {
  background-color: #81b761;
  border: 1px solid #81b761;
}
[class*="--btn-neutral"]:hover {
  color: #81b761;
  background-color: #ffffff;
}

[class*="--btn-accent"] {
  background-color: #bca269;
  border: 1px solid #bca269;
}
[class*="--btn-accent"]:hover {
  color: #bca269;
  background-color: #ffffff;
}

/* add a round background */
[class*="--round-bg"] {
  background: #dedee4;
  padding: 12px;
  border-radius: 50%;
  overflow: visible;
}
[class*="--round-bg"]:hover {
  background: #bca269;
}

/* hide titles from view but not from screenreaders */
[class*="--sr-only"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.header .topbar {
  background-color: #f6f5f4;
  box-sizing: border-box;
  padding: 15px 20% 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
  /* toggle the menu */
  /* toggle the menu icons */
}
@media screen and (max-width: 1920px) {
  .header .topbar {
    padding: 15px 15% 15px;
  }
}
@media screen and (max-width: 1600px) {
  .header .topbar {
    padding: 15px 10% 15px;
  }
}
@media screen and (max-width: 1200px) {
  .header .topbar {
    padding: 15px 5% 15px;
  }
}
.header .topbar-social-media__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.header .topbar__logo {
  width: 35%;
  height: auto;
}
.header .topbar__toggle-menu-checkbox {
  display: none;
}
.header .topbar__toggle-menu-label {
  color: #1a2762;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  font-weight: bold;
  cursor: pointer;
}
.header .topbar-nav {
  display: none;
  width: 100%;
}
.header .topbar-nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}
.header .topbar-nav__links .topbar-nav__link {
  color: #1a2762;
  text-transform: uppercase;
  padding-bottom: 12px;
  text-align: center;
}
.header .topbar-nav__links .topbar-nav__link:hover {
  color: #bca269;
  padding-bottom: 11px;
  border-bottom: 1px solid;
}
.header .topbar__toggle-menu-checkbox:checked ~ .topbar-nav {
  display: revert;
}
.header .topbar__toggle-menu-checkbox:checked ~ .topbar__toggle-menu-label > .topbar__toggle-menu-icon {
  display: none;
}
.header .topbar__toggle-menu-close-icon {
  display: none;
}
.header .topbar__toggle-menu-checkbox:checked ~ .topbar__toggle-menu-label > .topbar__toggle-menu-close-icon {
  display: revert;
}
.header .info {
  box-sizing: border-box;
  padding: 15px 20% 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1920px) {
  .header .info {
    padding: 15px 15% 15px;
  }
}
@media screen and (max-width: 1600px) {
  .header .info {
    padding: 15px 10% 15px;
  }
}
@media screen and (max-width: 1200px) {
  .header .info {
    padding: 15px 5% 15px;
  }
}

.main .banner {
  background-image: linear-gradient(to right, rgb(255, 255, 255), transparent), url("../images/components/carousel/carousel01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main .banner .hero {
  box-sizing: border-box;
  padding: 90px 20% 90px;
}
@media screen and (max-width: 1920px) {
  .main .banner .hero {
    padding: 90px 15% 90px;
  }
}
@media screen and (max-width: 1600px) {
  .main .banner .hero {
    padding: 90px 10% 90px;
  }
}
@media screen and (max-width: 1200px) {
  .main .banner .hero {
    padding: 90px 5% 90px;
  }
}
.main .banner .hero__title, .main .banner .hero__text, .main .banner .hero__btns {
  width: 40%;
  min-width: 400px;
}
.main .banner .reservation {
  background-color: rgba(26, 39, 98, 0.9);
  box-sizing: border-box;
  padding: 15px 20% 15px;
  display: grid;
}
@media screen and (max-width: 1920px) {
  .main .banner .reservation {
    padding: 15px 15% 15px;
  }
}
@media screen and (max-width: 1600px) {
  .main .banner .reservation {
    padding: 15px 10% 15px;
  }
}
@media screen and (max-width: 1200px) {
  .main .banner .reservation {
    padding: 15px 5% 15px;
  }
}
.main .banner .reservation-online {
  grid-area: 1/1;
  display: grid;
  grid-template-areas: "online-title ." "online-text ." "online-form online-form";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 3fr 1fr;
}
.main .banner .reservation-online__title {
  grid-area: online-title;
  margin: 5px 0;
}
.main .banner .reservation-online__text {
  grid-area: online-text;
  margin: 5px 0;
}
.main .banner .reservation-online__form {
  grid-area: online-form;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.main .banner .reservation-online__form .reservation-online__fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  flex-grow: 5;
}
.main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__label, .main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__input {
  color: #888888;
  background-color: #ffffff;
  border: 0;
  padding: 0 10px;
  height: 40px;
}
.main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__label {
  margin: 0 0 0 -10px;
  width: 50%;
  display: flex;
  align-items: center;
}
.main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__input {
  margin: 0;
  width: 100%;
}
.main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888888;
  opacity: 1; /* Firefox */
}
.main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #888888;
}
.main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #888888;
}
.main .banner .reservation-online__form .reservation-online__fieldset input[type=number] {
  width: 50%;
}
.main .banner .reservation-online__form .reservation-online__button {
  flex-grow: 1;
  cursor: pointer;
  margin: 0;
  height: 40px;
}
.main .banner .reservation-phone {
  grid-area: 1/1;
  display: grid;
  grid-template-areas: ". phone-title" ". phone-address" ". .";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 3fr 1fr;
}
.main .banner .reservation-phone__title {
  grid-area: phone-title;
  margin: 5px 0;
}
.main .banner .reservation-phone__address {
  grid-area: phone-address;
  margin: 5px 0;
}
.main .about {
  box-sizing: border-box;
  padding: 40px 20% 80px;
}
@media screen and (max-width: 1920px) {
  .main .about {
    padding: 40px 15% 80px;
  }
}
@media screen and (max-width: 1600px) {
  .main .about {
    padding: 40px 10% 80px;
  }
}
@media screen and (max-width: 1200px) {
  .main .about {
    padding: 40px 5% 80px;
  }
}
.main .about__title {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 0%, transparent 40%, #dedee4 40%, #dedee4 60%, transparent 60%, transparent 100%) 100% 1;
}
.main .about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}
.main .about-content__container {
  position: relative;
  width: 50%;
}
.main .about-content__container .about-content__title {
  background: rgba(188, 162, 105, 0.8);
  color: #ffffff;
  position: absolute;
  z-index: 1;
  bottom: -55px;
  left: -16px;
  padding: 20px;
}
.main .about-content__container .about-content__img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 50px 10px #dedee4;
}
.main .about-content__text {
  width: 50%;
}
.main .about-content--reverse {
  flex-direction: row-reverse;
  margin-top: 90px;
}
.main .about-content--reverse .about-content__txt-over-img-container .about-content__title {
  background: rgba(129, 183, 97, 0.8);
  left: revert;
  right: -16px;
}
.main .reviews {
  box-sizing: border-box;
  padding: 40px 20% 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1920px) {
  .main .reviews {
    padding: 40px 15% 90px;
  }
}
@media screen and (max-width: 1600px) {
  .main .reviews {
    padding: 40px 10% 90px;
  }
}
@media screen and (max-width: 1200px) {
  .main .reviews {
    padding: 40px 5% 90px;
  }
}
.main .reviews__title {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 0%, transparent 40%, #dedee4 40%, #dedee4 60%, transparent 60%, transparent 100%) 100% 1;
}
.main .reviews__quote {
  width: 50%;
  min-width: 230px;
}
.main .reviews__button {
  align-self: center;
}
.main .menu-card {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url("../images/components/menu-card/menu-card-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 220px 20% 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1920px) {
  .main .menu-card {
    padding: 220px 15% 15px;
  }
}
@media screen and (max-width: 1600px) {
  .main .menu-card {
    padding: 220px 10% 15px;
  }
}
@media screen and (max-width: 1200px) {
  .main .menu-card {
    padding: 220px 5% 15px;
  }
}

.footer {
  border-top: 10px solid #1a2762;
}
.footer__container-info-copyright {
  box-sizing: border-box;
  padding: 40px 20% 5px;
}
@media screen and (max-width: 1920px) {
  .footer__container-info-copyright {
    padding: 40px 15% 5px;
  }
}
@media screen and (max-width: 1600px) {
  .footer__container-info-copyright {
    padding: 40px 10% 5px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__container-info-copyright {
    padding: 40px 5% 5px;
  }
}
.footer__container-info-copyright .footer__container-info, .footer__container-info-copyright .footer__container-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
  margin: 10px 0;
}
.footer__container-info-copyright .footer__container-info .footer-contact__logo, .footer__container-info-copyright .footer__container-copyright .footer-contact__logo {
  width: 90%;
  height: auto;
}
.footer__container-info-copyright .footer__container-info .footer-contact__address-line, .footer__container-info-copyright .footer__container-copyright .footer-contact__address-line {
  display: block;
}
.footer__container-info-copyright .footer__container-info .footer-nav__link, .footer__container-info-copyright .footer__container-copyright .footer-nav__link {
  color: #888888;
}
.footer__container-info-copyright .footer__container-info .footer-nav__link:hover, .footer__container-info-copyright .footer__container-copyright .footer-nav__link:hover {
  color: #3c3c3c;
}
.footer__container-info-copyright .footer__container-info .footer-subscribe .footer-subscribe__form, .footer__container-info-copyright .footer__container-copyright .footer-subscribe .footer-subscribe__form {
  background-color: #dedee4;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}
.footer__container-info-copyright .footer__container-info .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input, .footer__container-info-copyright .footer__container-copyright .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input {
  color: #1a2762;
  background-color: #dedee4;
  border: 0;
  padding: 10px;
}
.footer__container-info-copyright .footer__container-info .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input::placeholder, .footer__container-info-copyright .footer__container-copyright .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1a2762;
  opacity: 1; /* Firefox */
}
.footer__container-info-copyright .footer__container-info .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input:-ms-input-placeholder, .footer__container-info-copyright .footer__container-copyright .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #1a2762;
}
.footer__container-info-copyright .footer__container-info .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input::-ms-input-placeholder, .footer__container-info-copyright .footer__container-copyright .footer-subscribe .footer-subscribe__form .footer-subscribe__fieldset .footer-subscribe__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #1a2762;
}
.footer__container-info-copyright .footer__container-info .footer-subscribe .footer-subscribe__form .footer-subscribe__submit, .footer__container-info-copyright .footer__container-copyright .footer-subscribe .footer-subscribe__form .footer-subscribe__submit {
  color: #1a2762;
  background: url("../images/icons/send.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #dedee4;
  text-indent: -1000em;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  padding: 10px;
}
.footer__container-info-copyright .footer__container-info .footer-subscribe .footer-subscribe__form .footer-subscribe__submit:hover, .footer__container-info-copyright .footer__container-copyright .footer-subscribe .footer-subscribe__form .footer-subscribe__submit:hover {
  background: url("../images/icons/send-light.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__container-info-copyright .footer__container-copyright {
  border-top: 1px solid #dedee4;
}
.footer__container-info-copyright .footer__container-copyright .footer-social-media__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.footer__container-map .footer-map .footer-map__google {
  width: 100%;
  height: 400px;
  border: 0;
}

@media screen and (max-width: 1024px) {
  .main .banner .reservation {
    display: flex;
    flex-direction: column;
  }
  .main .banner .reservation-online {
    display: flex;
    flex-direction: column;
  }
  .main .banner .reservation-online__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: stretch;
  }
  .main .banner .reservation-online__form .reservation-online__fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .main .banner .reservation-online__form .reservation-online__fieldset .reservation-online__label {
    margin: 0;
    width: 40%;
  }
  .main .banner .reservation-online__form .reservation-online__fieldset input[type=number] {
    width: 40%;
  }
  .main .banner .reservation-phone {
    display: flex;
    flex-direction: column;
  }
  .footer__container-info-copyright .footer__container-info, .footer__container-info-copyright .footer__container-copyright {
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .header .topbar .topbar-social-media {
    order: 2;
  }
  .header .topbar .topbar__logo {
    order: 1;
    width: 100%;
  }
  .header .topbar .topbar__toggle-menu-label {
    order: 3;
  }
  .header .topbar .topbar-nav {
    order: 4;
  }
  .main .about {
    padding-bottom: 10px;
  }
  .main .about-content {
    flex-direction: column;
    align-items: center;
  }
  .main .about-content__container {
    width: 100%;
  }
  .main .about-content__text {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .header .topbar {
    flex-direction: column;
    align-items: flex-end;
  }
  .header .topbar-nav__links {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
  }
  .main .banner .hero__title, .main .banner .hero__text, .main .banner .hero__btns {
    width: 100%;
    min-width: 200px;
  }
  .main .about-content__container .about-content__title {
    bottom: -45px;
    padding: 10px;
  }
}
/* SETTINGS: global settings */
/* TOOLS: global mixins and functions */
/* GENERICS: global styles that apply for the entire document, resets,... */
/* ELEMENTS: html tag selectors,generic styles,... */
/* OBJECTS: reusable design patterns,... */
/* COMPONENTS: recognizable parts of our UI,... */
/* TRUMPS: high specificity */

/*# sourceMappingURL=main.css.map */
