$brand-color: #1a2762;
$brand-light-color: #f6f5f4;
$brand-medium-color: #dedee4;

$lightest-color: #ffffff;

$neutral-color: #81b761;
$accent-color: #bca269;

$primary-text-color: #888888;

/* translucent colors */
$brand-color-translucent: rgba(26, 39, 98, 0.9);
$neutral-color-translucent: rgba(129, 183, 97, 0.8);
$accent-color-translucent: rgba(188, 162, 105, 0.8);