$default-font: "Abhaya Libre", "Garamond", serif;

$default-font-size: 1.2em;
$title-big-font-size: $default-font-size * 2.5;
$title-medium-font-size: $default-font-size * 1.8;
$title-small-font-size: $default-font-size * 1.2;