/* reset default styling */

a {
  text-decoration: none; /* remove underline */
}

address {
  font-style: normal; /* remove italic */
}

ul {
  list-style: none; /* remove bullets */
  padding-left: 0; /* remove indentation from list */
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}