@use '../settings/colors' as sc;
@use '../settings/typography' as st;
@use '../tools/util' as tu;

/* colors */

[class*='--color-light'] {
  color: sc.$lightest-color;
}

[class*='--color-medium'] {
  color: sc.$brand-medium-color;
}

[class*='--color-dark'] {
  color: sc.$brand-color;
}

[class*='--color-neutral'] {
  color: sc.$neutral-color;
}

[class*='--color-accent'] {
  color: sc.$accent-color;
}

/* titles font sizes */

[class*='--title-big'] {
  font-size: st.$title-big-font-size;
}

[class*='--title-medium'] {
  font-size: st.$title-medium-font-size;
}

[class*='--title-small'] {
  font-size: st.$title-small-font-size;
}

/* text decoration */

[class*='--underline'] {
  text-decoration: underline;
}

/* buttons */

[class*='--btn-transparent-light'] {
  border: 1px solid sc.$lightest-color;

  &:hover {
    color: sc.$primary-text-color;
    background-color: sc.$lightest-color;
  }
}

[class*='--btn-transparent-dark'] {
  color: sc.$primary-text-color;
  border: 1px solid sc.$primary-text-color;

  &:hover {
    color: sc.$lightest-color;
    background-color: sc.$primary-text-color;
  }
}

[class*='--btn-neutral'] {
  background-color: sc.$neutral-color;
  border: 1px solid sc.$neutral-color;

  &:hover {
    color: sc.$neutral-color;
    background-color: sc.$lightest-color;
  }
}

[class*='--btn-accent'] {
  background-color: sc.$accent-color;
  border: 1px solid sc.$accent-color;

  &:hover {
    color: sc.$accent-color;
    background-color: sc.$lightest-color;
  }
}

/* add a round background */

[class*='--round-bg'] {
  background: sc.$brand-medium-color;
  padding: 12px;
  border-radius: 50%;
  overflow: visible;

  &:hover {
    background: sc.$accent-color;
  }
}

/* hide titles from view but not from screenreaders */

[class*='--sr-only'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}