@mixin page-padding($top:15px,$bottom:15px) {
  box-sizing: border-box;
  padding: $top 20% $bottom;

  @media screen and (max-width: 1920px) {
    padding: $top 15% $bottom;
  }

  @media screen and (max-width: 1600px) {
    padding: $top 10% $bottom;
  }

  @media screen and (max-width: 1200px) {
    padding: $top 5% $bottom;
  }
}

@mixin bg-image-with-gradient($direction,$color,$img-url,$fixed:false) {
  background-image: linear-gradient(to $direction, $color, transparent), url($img-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @if $fixed {
    background-attachment: fixed;
  }
}

@mixin title-center-underline($color) {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 0%, transparent 40%, $color 40%, $color 60%, transparent 60%, transparent 100%) 100% 1;
}

@mixin flex-row-spread($wrap:false) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  @if $wrap {
    flex-wrap: wrap;
  }
}

@mixin flex-row-gap {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}